<form action="/update" method="POST" >
    <div class="group">
        <h3 class="h3">Update New Post</h3>
       <label for="title">Title</label>
       <input type="text" name="title" id="title" class="control" placeholder="post Title" value="<%= post.title %>">  
    </div> 
    <input type="hidden" name="hiddenID" value="<%= post._id %>">
    <div class="group">
       <label for="body">Body</label>
       <textarea name="body" class="control"  id="body" cols="30" rows="10" placeholder="post Desciptions" ><%= post.body %></textarea>
    </div>
    <div class="group">
       <button type="submit" class="submit-btn"> Update Post</button>
    </div>        
</form>