<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <%- include("components/nev.ejs")  %> 
    <header id="header">
        <div class="banner-image">
            <div>
                <h2>Beuty Of the Worlds</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam temporibus veritatis et necessitatibus tempora ad, culpa explicabo minus totam! </p>
            </div>
        </div>
    </header>
    <%- include("components/allpost.ejs")  %> 

</body>
</html>