<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <%- include("components/nev.ejs")  %> 
     <div class="post-Form-Controller">
        <% if(errors.length > 0) { %>
            <div class="errors errors-helper">
                <% errors.forEach(error =>{ %>
                    <span class="error"><%= error.msg %> </span>
                <% }) %>  
            </div>
        <% } %> 
         <%- include("components/updateForm.ejs")  %> 
     </div>
</body>
</html>